<h2> Cart Items </h2>

<h5><a routerLink="/shipping">Shipping prices</a></h5>

<div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
   <span>{{ item.price | currency:'INR'}}</span>
</div>

<form [formGroup]= "checkOutForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="name">Name:</label>
        <input id="name" type="text" formControlName="name"/>
    </div>

    <div>
        <label for="address">Address:</label>
        <input id="address" type="text" formControlName="address"/>
    </div>

    <button class="button" type="submit">Purchase</button>

</form>
